{% extends "star_ratings/widget_base.html" %}
{% block rating_container %}
<div class="row">
<div id="{{ id }}" class="star-ratings" data-max-rating="{{ star_count }}" data-avg-rating="{{ rating.average }}">
	<div class="span2">
    {% block rating_stars %}
        <div class="star-ratings-rating-stars-container">
            <ul class="star-ratings-rating-background">
                {% for star in stars %}
                    <li>
                        {% if editable %}
                        <form action="{% url 'ratings:rate' rating.content_type_id rating.object_id %}" class="star-ratings-rate-action" method="post">
                            {% csrf_token %}
                            <input type="hidden" value="{{ star }}" name="score">
                            <input type="hidden" value="{{ request.path }}" name="next">
                            <button type="submit" class="star-ratings-rating-empty" data-score="{{ star }}"></button>
                        </form>
                        {% elif user.is_authenticated %}
                            <span class="star-ratings-rating-empty"></span>
                        {% else %}
                            <span class="star-ratings-rating-empty" title="Log in to rate"></span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>

            <ul class="star-ratings-rating-foreground" style="width: {{ percentage|floatformat }}%">
                {% for star in stars %}
                    <li>
                    {% if editable %}
                    <form action="{% url 'ratings:rate' rating.content_type_id rating.object_id %}" class="star-ratings-rate-action" method="post">
                        {% csrf_token %}
                        <input type="hidden" value="{{ star }}" name="score">
                        <input type="hidden" value="{{ request.path }}" name="next">
                        <button type="submit" class="star-ratings-rating-full" data-score="{{ star }}"></button>
                    </form>
                    {% else %}
                        <span class="star-ratings-rating-full" title="Log in to rate"></span>
                    {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endblock %}
	</div>
	<div class="span2" style="margin-top: 8px; margin-left: -30px;">
    {% block rating_detail %}
    {% block rating_average %}
    <div class="star-ratings-rating-average"><span class='star-ratings-rating-value'>{{ rating.average|floatformat:"-2" }}/5 ({{ rating.count }} reviews)</span></div>
    {% endblock rating_average %}
    
    {% endblock rating_detail %}
	</div>
</div>
</div>
{% endblock rating_container %}