{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block navbar-left %}
  {% if not user.is_authenticated %}
  <ul class="right hide-on-med-and-down">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
  </ul>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block container %}
<!-- Benefits of the Django application -->
 <h1>Edit Me!</h1>

{% endblock container %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}
