{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block container %}
<!-- Benefits of the Django application -->
<main>
 <div class="container push">
   <div class="row">
     <br>
     <div class="col s3 collection blue-grey lighten-5">
        <h4 class="truncate">Categories</h3>
          <a href="/app/" class="collection-item blue-grey lighten-5">All Apps</a>
          {% for tag in tags %}
            <a href="#!" class="collection-item blue-grey lighten-5">{{tag.name}}</a>
          {% endfor %}
      </div>
      <div class="col s9">
        <div class="row push-left">
          <h4 class="truncate">New Releases</h3>
          {% for app in new_releases %}
            <div class="col s12 m6">
              <a href="/app/{{app.id}}/">
                <div class="card horizontal blue-grey lighten-5 hoverable card-height">
                  <div class="card-stacked">
                    <div class="card-content truncate">
                      <span class="card-title">{{app.title}}</span>
                      <p class="black-text">{{app.abstract}}</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
          <a class="right" href="/app/new/">See More ...</a>
        </div>
        <div class="row push-left">
          <h4 class="truncate">Top Downloaded</h3>
            {% for app in top_downloaded %}
              <div class="col s12 m6">
                <a href="/app/{{app.id}}/">
                  <div class="card blue-grey lighten-5 hoverable card-height">
                    <div class="card-content truncate">
                      <span class="card-title">{{app.title}}</span>
                      <p class="black-text">{{app.abstract}}</p>
                    </div>
                  </div>
                </a>
              </div>
            {% endfor %}
          <a class="right" href="/app/new/">See More ...</a>
        </div>
      </div>
   </div>
 </div>
</main>
{% endblock container %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}
