{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
{# "Go back to" link #}
{% if go_back_to_title %}
<div class="row">
	<div class="span8" style="margin-bottom: 2em;">
		<a href="{{ go_back_to_url }}">&larr; Go back to {% autoescape off %}{{ go_back_to_title }}{% endautoescape %}</a>
	</div>
</div>
{% endif %}
<div class="container center">
  <h3>Are you sure you want to delete?</h3>
  <a class="btn btn-warning" href="{{ url }}">
    Yes
  </a>
  <a class="btn btn-warning" href="/app/{{ name }}">
    No
  </a>
</div>
{% endblock content %}
