{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{{ block.super }}Apps{% endblock %}

{% block container %}
<!-- Benefits of the Django application -->
<main>
 <div class="container">
   <div class="row">
     <br>
     <div class="col s3 collection">
        <h4 class="truncate">Categories</h3>
          <a href="/app/" class="collection-item active">All Apps</a>
          {% for tag in tags %}
            <a href="#!" class="collection-item">{{tag.name}}</a>
          {% endfor %}
      </div>
      <div class="col s9">
        <div class="row push-left">
          <h4 class="truncate">All Apps</h3>
          {% for app in apps %}
            <div class="col s12 m6">
              <a href="/app/{{app.id}}/">
                <div class="card blue-grey darken-1 hoverable card-height">
                  <div class="card-content white-text truncate">
                    <span class="card-title">{{app.title}}</span>
                    <p>{{app.abstract}}</p>
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
   </div>
 </div>
</main>
{% endblock container %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}
