{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{{ block.super }}My App{% endblock %}

{% block container %}
<main>
  <div class="container push">
    <!-- Modal Structure -->
    <div id="modal1" class="modal bottom-sheet">
      {% if comments %}
        {% for comment in comments %}
        <div class="container modal-content">
          <div class="row">
            <div class="col s12 m12">
              <div class="card-panel blue-grey">
                <i class="tiny material-icons">star</i>
                <i class="tiny material-icons">star</i>
                <i class="tiny material-icons">star</i>
                <i class="tiny material-icons">star</i>
                <i class="tiny material-icons">star</i>
                <b class="push-left white-text">{{comment.title}}</b>
                <div class="row">
                  <p class="white-text">
                    {{comment.content|safe}}
                  </p>
                </div>
                <div class="row">
                  <p class="right white-text">By <b>{{comment.user.get_full_name}}</b> on <b>{{comment.timestamp}}</b></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      {% else %}
        <div class="container">
          <h5>No Comments to show!</h5>
        </div>
      {% endif %}
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>
    <div class="row">
      <div class="col s1 hide-on-med-and-down">
        <img src="/media/{{app.icon|default:'default_icon.png'}}" alt="" class="relativebiggercircle">
      </div>
      <div class="col s9">
        <h3><b>{{app.title}}</b></h3>
        <h6><b>{{app.abstract}}</b></h6>
      </div>
      {% if user.is_staff or user in editors %}
      <div class="col s2">
        <a href="/backend/edit/{{app.id}}"><btn class="btn center">Edit Page</btn></a>
      </div>
      {% endif %}
    </div>
    <div class="row">
      <div class="col s6 m6">
        <i class="tiny material-icons">star</i>
        <i class="tiny material-icons">star</i>
        <i class="tiny material-icons">star</i>
        <i class="tiny material-icons">star</i>
        <i class="tiny material-icons">star</i>
        <a class="push-left waves-effect waves-light" href="#modal1">{{app.votes}} votes</a>
      </div>
    </div>
    <div class="row">
      {% for tag in tags %}
      <div class="chip">
        <a href="/app/tag/{{tag.id}}">{{tag.name}}</a>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col s2">
        <a href="/app/feedback/{{app.id}}"><btn class="btn center">Rate the Page</btn></a>
      </div>
    </div>
    <div class="row card-panel blue-grey lighten-5">
      <div class="col s9 m12">
        <ul class="tabs blue-grey lighten-5">
          <li class="tab col s4"><a class="active" href="#test1">Details</a></li>
          <li class="tab col s4"><a href="#test2">Release History</a></li>
          <li class="tab col s4"><a href="#test3">Authors</a></li>
        </ul>
        <div class="divider black"></div>
      </div>
      <div id="test1" class="col s12">
        <br>
        {{app.description|safe}}
      </div>
      <div id="test2" class="col s12">
        {% for release in releases %}
        <div class="section">
          <div class="row">
            <div class="col s2">
              <a href="{{release.url}}"><h4>{{release.version}}</h4></a>
            </div>
            {% if user.is_staff or user in editors %}
            <div class="col s4 offset-s6">
              <br>
              <a href="/backend/edit/release/{{release.id}}"><btn class="btn center">Edit Release</btn></a>
            </div>
            {% endif %}
          </div>
          <b>Released : </b>{{latest.date}}<br>
          <b>Works with : </b><a href="https://www.nsnam.org/releases/">{{latest.require}}</a><br>
          {% if release.notes %}
            <b>Release Notes :</b>
            <p>{{release.notes|safe}}</p>
          {% endif %}
        </div>
        <div class="divider black"></div>
        {% endfor %}
        {% if user.is_staff or user in editors %}
        <div class="row">
          <div class="col s4">
            <br>
            <a href="/backend/create/release/{{app.id}}"><btn class="btn center">Add Release</btn></a>
          </div>
        </div>
        {% endif %}
      </div>
      <div id="test3" class="col s12">
        {% for author in authors %}
        <div class="section">
          <div class="row">
            <div class="col s8">
              <a href="/app/author/{{author.id}}"><h5>{{author.name}}</h5><br></a>
              <b>{{author.institution}}</b>
            </div>
            {% if user.is_staff or user in editors %}
            <div class="col s4">
              <br>
              <a href="/backend/edit/{{app.id}}/author/{{author.id}}"><btn class="btn center">Edit Author</btn></a>
            </div>
            {% endif %}
          </div>
        </div>
        <div class="divider black"></div>
        {% endfor %}
        {% if user.is_staff or user in editors %}
        <div class="row">
          <div class="col s4">
            <br>
            <a href="/backend/create/author/{{app.id}}"><btn class="btn center">Add Author</btn></a>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="col s3 center">
      <div class="card-panel blue-grey lighten-3">
        <a href="/app/download/{{app.id}}"><button class="btn center">
          Download
        </button>
        </a>
        <br>
        <span class="black-text">
          <br><b>Version : </b>{{latest.version}}<br>
          <b>Released : </b>{{latest.date}}<br>
          <b>Works with : </b><a href="https://www.nsnam.org/releases/">{{latest.require}}</a><br>
          <b>Source : </b><a href="{{app.coderepo}}">Link</a><br>
          <b>Bake : </b><a href="/media/{{latest.filename}}">bakeconf.xml</a><br>
        </span>
      </div>
    </div>
  </div>
</main>
{% endblock container %}
