{% extends "base2.html" %}

{% load crispy_forms_tags %}

{% block more_head %}
<style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  .fa {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  .fa-google {
    background: #dd4b39;
    color: white;
  }
</style>
{% endblock %}

{% block navbar %}
{% endblock %}

{% block container %}
<div class="container form-box">
  <div class="text-center">
    <h2>{% block form_heading %}{% endblock %}</h2>
  </div>
  {% block form %}
  {% endblock %}
</div>

{% endblock container %}
