{% extends "base2.html" %}

{% load crispy_forms_tags %}

{% block more_head %}
<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.9.0/css/all.css" crossorigin="anonymous">
<style>
  .fa {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  .fa-google {
    background: #dd4b39;
    color: white;
  }
</style>
{% endblock %}

{% block navbar %}
{% endblock %}

{% block container %}
<div class="container form-box">
  <div class="text-center">
    <h2>{% block form_heading %}{% endblock %}</h2>
  </div>
  {% block form %}
  {% endblock %}
</div>

{% endblock container %}
