{% extends "accounts/auth_base.html" %}

{% load material_form %}

{% block title %}{{ block.super }}Log In{% endblock %}

{% block form_heading %}Please Log In{% endblock %}

{% block form %}
  <form method="POST">
      {% csrf_token %}
      {% form form=form %}{% endform %}
      <button type="submit" name="_submit" class="btn">Submit</button>
  </form>

  <div class="form-message">
    <p>
      Don't have an account? <a href="{% url 'accounts:signup' %}">Sign up</a>.
    </p>
  </div>
{% endblock form %}
