{% extends "accounts/auth_base.html" %}

{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Log In{% endblock %}

{% block form_heading %}Please Log In{% endblock %}

{% block form %}
  {% crispy form %}

  <div class="form-message">
    <p>
      Don't have an account? <a href="{% url 'accounts:signup' %}">Sign up</a>.
    </p>
    <div class="form-message">
    <hr>
    <a class="btn btn-primary btn btn-lg btn-primary btn-block" 
      style="border-radius:10px; background:#dd4b39; color:white; padding:10px; font-size:20px; text-align:center; text-decoration:none;" 
      href="{% url 'social:begin' 'google-oauth2' %}">  Sign in with Google </a>
    </div>
  </div>
  
{% endblock form %}
