{% extends "base.html" %}
{% load static %}

{% block more_head %}
<link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}apps/css/app_page.css" />
<link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}apps/css/app_stars.css" />
<script type="text/javascript" src="{% get_static_prefix %}common/lib/js/jquery.timeago.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}common/lib/js/Markdown.Converter.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}common/lib/js/Markdown.Sanitizer.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}common/js/setup_ajax_for_csrf.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}common/js/markdown_util.js"></script>
{% endblock %}

{% block title %} - {{ app.title }} - Download Statistics{% endblock %}

{% block content %}
<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1>
        All App Stats
        <small>Download Statistics</small>
      </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
     <table class="table table-hover table-striped table-bordered">
     	<thead>
     		<th>App Name</th>
     		<th>Total Downloads</th>
     		<th>Action</th>
     	</thead>
     	<tbody>
     		{% for app in apps %}
     		<tr>
     			<td>{{ app.title }}</td>
     			<td>{{ app.downloads }}</td>
     			<td><a href="{% url 'download:app_stats' app.name %}" target="_blank">View detailed stats</a></td>
     		</tr>
     		{% endfor %}
     	</tbody>
     </table>
  </div>
</div>
{% endblock %}

